.fade-in-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  .fade-in-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms, transform 200ms;
  }
  
  .fade-in-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-in-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 200ms, transform 200ms;
  }
  